{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\checkboxsearchlist\\assetbundles\\checkboxsearchlistfield\\CheckboxSearchListFieldAsset'
    ],
} %}

{{ craft.checkbox.register('/src/js/main.ts', false, scriptTagOptions) }}
{{ craft.checkbox.register('/src/js/checkbox-search-field.ts', false, scriptTagOptions) }}


{%- set options = options ?? [] %}
{%- set values = values ?? [] %}
{%- set optionName = (name ?? false) ? "#{name}[]" : null %}

{%- set translations = {
    placeholder: 'Search for an option'|t('tick-box'),
    noResults: 'There are no options available for your search'|t('tick-box')
}  -%}

{% set fieldsetAttributes = {
    class: ['checkbox-group'],
} %}

{% if block('attr') is defined %}
    {%- set fieldsetAttributes = fieldsetAttributes|merge(('<div ' ~ block('attr') ~ '>')|parseAttr, recursive=true) %}
{% endif %}

{% if name ?? false %}
    {{ hiddenInput(name, '') }}
{% endif -%}

{% tag 'fieldset' with fieldsetAttributes %}
    {% if name ?? false %}
        {{ hiddenInput(name, '') }}
    {% endif -%}

    {%- set optionsData = [] -%}

    {%- for key, option in options %}
        {%- if option is not iterable %}
            {%- set option = {label: option, value: key} %}
        {%- endif %}

        {%- set option = {
            describedBy: describedBy ?? false,
            name: name,
            checked: (option.value is defined and option.value in values),
            autofocus: loop.first and (autofocus ?? false) and not craft.app.request.isMobileBrowser(true)
        }|merge(option) -%}

        {%- set optionsData = optionsData|merge([option]) %}

    {%- endfor %}

    <div id="csl-{{- name -}}" class="csl-component">
        <field-checkbox-search-list :translations="{{- translations|json_encode -}}" :options="{{ optionsData|json_encode }}"></field-checkbox-search-list>
    </div>
{% endtag %}
